<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.jpeg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This is me before the COVID Pandemic. Anyways I built this simple app and the data is gotten from Mapbox and Foreca weather</p>
            <img class="portrait" src="/img/profile.jpeg">
        </div>
        {{>footer}}
    </body>

</html>